/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

.main {
    display: grid;
    grid-template-rows: 50px 1fr;

    .navigation, .content {
        & > div:first-child {
            @media (min-width: 320px) {
                margin: 0 10px;
            }

            @media (min-width: 768px) {
                margin: 0 300px;
            }
        }
    }
}

.post {
    & > div {
        @media (min-width: 960px) {
            position: relative;
            margin-right: 1rem;
        }
    }
}
