.navigation {     
    background-color: cadetblue;
    color: aliceblue;
}

.navigation-container {
    display: grid;

    @media (min-width: 320px) {
        grid-template-columns: 100px 1fr 100px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 300px 1fr 200px;
    }

    .brand, .search, .sign-in {
        align-self: center;
    }

    .sign-in {
        text-align: right;

        .fa-search {
            @media(min-width: 640px) {
                display: none;
            }
        }
    }
}
